.content {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.link-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 100%;
    margin: 0 auto;
}

html, body {
    font-family: "Open Sans",sans-serif;
    color: white;
    background-color: #181818;
    height: 100%;
    margin: 0px;
}

html {
    line-height: 1.15;
}


ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
div {
    display: block;
}

.link.active, .link:hover {
    color: white;
}


.link.active::after, .link:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 78px;
    background: rgba(0,0,0,.8);
    text-align: center;
    display: block;
    z-index: 20;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

a {
    background-color: transparent;
}

.link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 88px;
    height: 78px;
    line-height: 78px;
    color: rgb(71, 179, 143);
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    margin: 0 4px;
    cursor: pointer;
    font-weight: 600;
}


.content span {
    color: rgb(71, 179, 143);
    font-size: 30px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.app {
    height: 100%;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/js2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    z-index: 1;
}

.headertext {
    border-radius: 5px;
    padding: 25px;
    border: solid white 1px;
}

.headertext {
    font-size: 25px;
}

.code {
    color: white;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
}

.section-one {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
}


.section-one h2 {
    position: relative;
    top: 50px;
    margin: 0px;
    padding: 0px;
}

.section-one-text {
    padding: 100px;
    display: flex;
    text-align: center;
    font-optical-sizing: 10;
    font-size: 20px;
}